# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Editors/IDEs
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs and temp files
*.log
*.tmp
*.temp
*.swp
*.bak
*.old

# Build outputs
dist/
build/
out/
bin/
obj/

# Dependencies
node_modules/
vendor/
myenv/
# Env files
.env
.env.*

# Coverage
coverage/

# Caches
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__

#Carpetas
pruebas_uniface/